﻿@{
    ViewData["Title"] = "Login";
}
@model LoginViewModels
<center>

    <div class="container">
        <div class="ro">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-content">
                        <center>
                            <H4 class="">Iniciar sesi&oacute;n</H4>
                        </center>
                        <section>
                            @*ejecuta el controlador Homey la accion de index que recibe los datos que almacenemos en
                                las propiedades de loginviewmodel enviados por el metodo post*@
                            <form asp-controller="Home" asp-action="Index" method="post">
                                @* aqui estoy realizando la validacion del campo de texto *@
                                <div asp-validation-summary="All" class="text-danger"> </div>
                                <div class="input-field col-12">
                                    @*con esto relacionamos propiedades de la clase loginviewmodel*@
                                    <label asp-for="Input.Email"></label>
                                    @* Muestra el nombre de la propiedad Email *@
                                    <input asp-for="Input.Email" class="form-control" />
                                    @*muestra los mensajes de validaciones de nuestro campo de texto*@
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="input-field col-12">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <center>
                                    <button type="submit" class="btn btn-ddefault">Iniciar sesi&oacute;n</button>
                                </center>
                            </form>
                        </section>
                        <br />
                        @* aqui invoco el metodo usando html luego displayfor y luego el objeto que hace referencia a la clase loginviewmodels
                            para mostrar los mensajes que se produzcan al intentar sesion en nuestro servidor*@
                        <label id="IndexMessage" class="error">@Html.DisplayFor(m => m.ErrorMessage)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
@section Scripts{ 
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
